<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>영재 트레이더</title>
    <link rel="stylesheet" type="text/css" href="${'packages/bootstrap/dist/css/bootstrap.css'|static}">
    <script type="text/javascript" src="${'packages/jquery/dist/jquery.js'|static}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#initial-box-button').click(function() {
                $.getJSON('/initial_box', {}, function(res) {
                    $('#box-high').val(res.high)
                    $('#box-low').val(res.low)
                })
                return false
            })
            $('#start-button').click(function() {
                $.getJSON('/start', {}, function(res) {
                    if (res.error) {
                        alert(res.error)
                        return
                    }
                    showStatus(res.running)
                })
                return false
            })
            $('#stop-button').click(function() {
                $.getJSON('/stop', {}, function(res) {
                    showStatus(res.running)
                })
                return false
            })

            loadStatus()

            setInterval(function() {
                loadStatus()
            }, 30000)
        })

        var last_minute_bar = 0;
        var last_current_price = 0;

        function loadStatus(force) {
            $.getJSON('/status', {'force': true}, function(res) {
                showStatus(res.running)
                $('#amount_a').val(res.configuration.amount_a)
                $('#amount_b').val(res.configuration.amount_b)
                if (res.box) {
                    $('#box-high').val(res.box.high)
                    $('#box-low').val(res.box.low)
                }
                $('#minute-bars').html('')
                for (var i = 0; i < res.minute_bars.length; i++) {
                    var date = new Date(Date.parse(res.minute_bars[i].time))
                    $('#minute-bars').append('<tr><td>' + date.getHours() + ':' + date.getMinutes() + '</td>'
                            + '<td>' + res.minute_bars[i].start + '</td>'
                            + '<td>' + res.minute_bars[i].end + '</td>'
                            + '<td>' + res.minute_bars[i].high + '</td>'
                            + '<td>' + res.minute_bars[i].low + '</td>'
                            + '</tr>')
                }
                $('#trades').html('')
                for (var i = 0; i < res.trades.length; i++) {
                    var date = new Date(Date.parse(res.trades[i].datetime))
                    $('#trades').append('<tr><td>' + date.getHours() + ':' + date.getMinutes() + '</td>'
                            + '<td>' + res.trades[i].minutebar.time + '</td>'
                            + '<td>' + res.trades[i].type + '</td>'
                            + '<td>' + res.trades[i].price + '</td>'
                            + '<td>' + res.trades[i].amount + '</td>'
                            + '</tr>')
                }

                $('#current-price').html(res.current_price)

                $('#last-updated').html(new Date())
            })
        }

        function showStatus(running) {
            if (running) {
                $('#start-button').attr('disabled', 'disabled')
                $('#stop-button').removeAttr('disabled')
            } else {
                $('#stop-button').attr('disabled', 'disabled')
                $('#start-button').removeAttr('disabled')
            }

        }

    </script>
</head>
<body>
<div class="container">
    <h1>영재 트레이더</h1>
    <div class="row">
        <h2>거래 설정</h2>
        <div class="col-sm-6 panel panel-default">
            <form class="panel-body form-horizontal" action="/set_box" method="POST" onsubmit="if (!$.isNumeric(this.high.value) && !$.isNumeric(this.low.value)) { alert('값이 비었음'); return false; }">
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                <div class="form-group">
                    <label class="col-xs-4 control-label">기준고가</label>
                    <div class="col-xs-8">
                        <input type="number" step="any" name="high" id="box-high" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">기준저가</label>
                    <div class="col-xs-8">
                        <input type="number" step="any" name="low" id="box-low" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">현재가</label>
                    <div class="col-xs-8">
                        <code id="current-price" class=""></code>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <a href="#" id="initial-box-button" class="btn btn-default">박스 데이터 읽기</a>
                        <input type="submit" id="set-box-button" class="btn btn-default" value="박스 수동 설정">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 panel panel-default">
            <form class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 control-label">A 물량</label>
                    <div class="col-xs-8">
                        <input type="number" id="amount_a" name="amount_a" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">B 물량 </label>
                    <div class="col-xs-8">
                        <input type="number" id="amount_b" name="amount_b" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">Risk</label>
                    <div class="col-xs-8">
                        <input type="number" name="risk" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <button id="start-button" class="btn btn-success">실행</button>
                        <button id="stop-button" class="btn btn-danger">중지</button>
                    </div>
                </div>
            </form>
        </div>

        <table>
            <tbody>
                <tr>
                    <th>현재 손익</th>
                    <td class="current-profit">0</td>
                    <th>누적 손익</th>
                    <td class="cumulative-profit">0</td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-success">
            마지막 업데이트 시각: <span id="last-updated"></span>
            <a href="javascript:loadStatus(true);" class="btn btn-default">지금 업데이트</a>
        </div>
        <div class="col-sm-6">
            <h4>거래기록</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>거래시각</th>
                        <th>15분봉</th>
                        <th>타입</th>
                        <th>가격</th>
                        <th>수량</th>
                    </tr>
                </thead>
                <tbody id="trades">
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h4>15분봉</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>시각</th>
                        <th>시가</th>
                        <th>종가</th>
                        <th>고가</th>
                        <th>저가</th>
                    </tr>
                </thead>
                <tbody id="minute-bars">
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>